<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="home">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-water"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Open Lake</div>
    </a>

    <hr class="sidebar-divider my-0">

    <li routerLinkActive="active" class="nav-item">
        <a class="nav-link" routerLink="home">
            <i class="fas fa-home"></i>
            <span>Home</span></a>
    </li>
  <hr class="sidebar-divider my-0">

      <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="lakes-list">
              <i class="fas fa-list-ul"></i>
              <span>Lakes list</span></a>
      </li>
  <hr class="sidebar-divider my-0">

  <li routerLinkActive="active" class="nav-item">
    <a class="nav-link" routerLink="protection-of-personal-data">
      <i class="fas fa-user-lock"></i>
      <span>Protection of personal data</span></a>
  </li>

  <hr class="sidebar-divider my-0">

  <li routerLinkActive="active" class="nav-item">
    <a class="nav-link" routerLink="user-doc">
      <i class="fas fa-medkit"></i>
      <span>User documentation</span></a>
  </li>

  <hr class="sidebar-divider my-0">

      <li routerLinkActive="active" class="nav-item">
          <a class="nav-link" routerLink="licence">
              <i class="fas fa-copyright"></i>
              <span>Copyright</span></a>
      </li>





  <hr class="sidebar-divider d-none d-md-block">

    <div class="text-center d-none d-md-inline">
        <button (click)="Toggle()" class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
