
<div class="row">
  <div class=" col-xl-12">
    <div class=" card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">The Open Lake Project</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" src="assets/img/diusselake.PNG" alt="...">
                </div>
                <div class="center">
                  <p>There are thousands of lakes in France, the aim of the project is to measure the health of the lakes by means of a radio controlled boat.<br/>
                    The data are retrieve from the OLA <a href="https://www6.inrae.fr/soere-ola">Website</a>
                  </p>
                  <a  routerLink="/lakes-list">List of lakes →</a>
                </div>
            </div>
        </div>
        &emsp;
    </div>
</div>
