<mat-accordion class="card shadow mb-4">

  <mat-expansion-panel>
    <mat-expansion-panel-header class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><a routerLink="/home" class="btn btn-primary btn-circle btn-sm"><i class="fas fa-arrow-left"></i></a>  Account page</h6>
    </mat-expansion-panel-header>
      <div class="table-responsive">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
           ku

        </div>
      </div>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion class="card shadow mb-4">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"> Password</h6>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>


<mat-accordion class="card shadow mb-4">
  <mat-expansion-panel>
    <mat-expansion-panel-header class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"> Email</h6>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>


