form {
  padding: 1rem;
}

.login-form {
  min-width: 250px;
  max-width: 300px;
  width: 100%;
}

modal-header {
  border-bottom: 1px solid #e3e6f0;
}
.input-full-width {
  width: 100%;
}
#btn-login{
  text-align: center;
  float:right
}
