<p class="card-text"></p>

  <div class="card text-center">
    <div class="card-body text-dark">
      <h3 class="card-title"><i class="fas fa-copyright"></i> License </h3><br><br>
      <div class="text-center">
        <h4 class="card-title">Attribution-NonCommercial 4.0 International (CC BY-NC 4.0)</h4><br>
        <p class="card-text">
        This is a human-readable summary of (and not a substitute for) the license. Disclaimer.<br><br><br>
        </p>
        
        <p class="card-text">
        
            <font size="+2"><b>You are free to:</b> <br><br></font>
        
        
            <b>Share</b> — copy and redistribute the material in any medium or format <br><br>
            <b>Adapt</b> — remix, transform, and build upon the material <br><br>
        
            The licensor cannot revoke these freedoms as long as you follow the license terms.<br><br><br>
        </p>
        
        <p class="card-text">
            <font size="+2"><b>Under the following terms:</b> <br><br></font>
        
            <b>Attribution</b> — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.<br><br>
        
            <b>NonCommercial</b> — You may not use the material for commercial purposes.<br><br>
        
            <b>No additional restrictions</b> — You may not apply legal terms or technological measures that legally restrict others from doing anything the license permits.<br><br><br>
        </p>
        
        <p class="card-text">
            <font size="+2"><b>Notices:</b> <br><br></font>
        
            You do not have to comply with the license for elements of the material in the public domain or where your use is permitted by an applicable exception or limitation.<br><br>

            No warranties are given. The license may not give you all of the permissions necessary for your intended use. For example, other rights such as publicity, privacy, or moral rights may limit how you use the material.<br><br><br>
        </p>
      </div>
      <p class="card-text"><small class="text-muted">OpenLake by Nathan VIDAL FAGES, Moïse Kahotwa Kyoghero, Samuel Monsempes, Guillaume Fernandez, Cyril Legeay ENSIMAG, is licensed under Attribution-NonCommercial 4.0 International <span>&#169;</span></small></p>
    </div>
  </div>
