<h3>Personal data</h3>
<mat-accordion class="card shadow mb-4">
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">   Account management and trackers</h6>
    </mat-expansion-panel-header>
    <h6>

      OpenLake follows <a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs">the recommendations of the CNIL </a> in terms of data collection, tracers and cookies. In accordance with the amended law n ° 78-17 of 6 January 1978 (known as the “Informatique et Liberté” law).<br>
      To have an account, you only need to provide us with a valid email address, username and password. All other information is optional.<br>
      The site does not include any statistical survey tool. The IPs are thus anonymized and the data is collected by a specific server that we host.<br>
      For any other question concerning questions relating to privacy or to express your opposition to data processing, you can contact our data protection officer: dpo@open-lake.fr.<br>
    </h6>

  </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="card shadow mb-4">
  <mat-expansion-panel [expanded]="true" >
    <mat-expansion-panel-header class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">   Secure distribution</h6>
    </mat-expansion-panel-header>
    <h6>
      OpenLake offers its visitors access to its site and to secure connection devices (HTTPS).
    </h6>

  </mat-expansion-panel>


